In [27]:
#PyBank Financial Analysis

import pandas as pd
import csv
import os

csv_path = os.path.join (r'C:\Users\soone\python-challenge\PyBank\Resources', 'budget_data.csv')
df = pd.read_csv(csv_path)

print(df.columns)

Index(['Date', 'Profit/Losses'], dtype='object')

In [28]:
total_months = len(df) - 1 + 1

print(f"Total Months: {total_months}")

Total Months: 86

In [29]:
net_total = df['Profit/Losses'].sum()

print(f"Total: ${net_total}")

Total: $22564198

In [30]:
data = pd.read_csv(r'C:\Users\soone\python-challenge\PyBank\Resources\budget_data.csv')
print(data)

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [31]:
df['change'] = df['Profit/Losses'].diff()
df['change'] = df['change'].fillna(0)
df['change'] = df['change'].astype(int)

df

      Date  Profit/Losses   change
0   Jan-10        1088983        0
1   Feb-10        -354534 -1443517
2   Mar-10         276622   631156
3   Apr-10        -728133 -1004755
4   May-10         852993  1581126
..     ...            ...      ...
81  Oct-16        -729004 -1627245
82  Nov-16        -112209   616795
83  Dec-16         516313   628522
84  Jan-17         607208    90895
85  Feb-17         382539  -224669

[86 rows x 3 columns]

In [32]:
#The changes in "Profit/Losses" over the entire period (previous cell)...
#now the average over the entire period
#the 1: consider all rows except the first one w/no change
average_change = df.loc[1:,'change'].mean()
average_change
#print(average_change)
#now round
rounded_average_change = round(average_change, 2)
print(f"Average Change: ${rounded_average_change}")

Average Change: $-8311.11

In [33]:
#print(f"Total Changes: {net_total}")
#print(f"Greatest Increase in Profits: {change}")
#print(f"Greatest Decrease in Profits: {change}")

In [34]:
missing_values = df['Profit/Losses'].isnull().sum()
print (missing_values)

0

In [35]:
#total_changes = df['change'].sum()
#print(df)

In [36]:
greatest_increase_row = df.loc[df['change'].idxmax()]
greatest_decrease_row = df.loc[df['change'].idxmin()]
print(greatest_increase_row)
print(greatest_decrease_row)

Date              Aug-16
Profit/Losses     951227
change           1862002
Name: 79, dtype: object
Date               Feb-14
Profit/Losses     -946748
change           -1825558
Name: 49, dtype: object

In [37]:
greatest_increase_row = df.loc[df['change'].idxmax()]
greatest_decrease_row = df.loc[df['change'].idxmin()]
print(f"Greatest Increase in Profits: {greatest_increase_row['Date']} ${greatest_increase_row['change']}")
print(f"Greatest Decrease in Profits: {greatest_decrease_row['Date']} ${greatest_decrease_row['change']}")

Greatest Increase in Profits: Aug-16 $1862002
Greatest Decrease in Profits: Feb-14 $-1825558

In [38]:
print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_total}")
print(f"Average Change: ${rounded_average_change}")
print(f"Greatest Increase in Profits: {greatest_increase_row['Date']} ${greatest_increase_row['change']}")
print(f"Greatest Decrease in Profits: {greatest_decrease_row['Date']} ${greatest_decrease_row['change']}")

Financial Analysis
----------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 $1862002
Greatest Decrease in Profits: Feb-14 $-1825558

In [39]:
# Open a text file in write mode (text file only) use this block or the next for terminal and file output
with open('pybank_analysis_results.txt', 'w') as file:
    # Write PyBank results
    file.write(f"PyBank Financial Analysis Results\n")
    file.write(f"Total Months: {total_months}\n")
    file.write(f"$Total: ${net_total}\n")
    file.write(f"Average Change: ${rounded_average_change}\n")
    file.write(f"Greatest Increase in Profits: {greatest_increase_row['Date']} ${greatest_increase_row['change']}")
    file.write(f"Greatest Decrease in Profits: {greatest_decrease_row['Date']} ${greatest_decrease_row['change']}")

In [40]:
# Prepare the results (results to txt file and terminal)
results = f"""The PyBank results are:
PyBank Results
Total Months: {total_months}
Total: ${net_total}
Average Change: ${rounded_average_change}
Greatest Increase: {greatest_increase_row['Date']} ${greatest_increase_row['change']}")
Greatest Decrease: {greatest_decrease_row['Date']} ${greatest_decrease_row['change']}")
#above for PyBank only --------------------------------------
#------------------------------------------------------------

# Prepare the results
with open('pypoll_analysis_results.txt', 'w') as file:
Pypoll Results
#???Total Votes: {net_total}
"""

for candidate, data in candidate.items():
    results += f"{candidate}: {data['votes']} votes ({data['percent']}%)\n"
results += f"Winner: {winner}\n"

# Print to the terminal
print(results)

# Export to a text file
with open('results.txt', 'w') as file:
    file.write(results)

NameError: name 'candidate' is not defined