In [108]:
#PyBank Financial Analysis

import pandas as pd
import csv
import os

csv_path = os.path.join (r'C:\Users\soone\python-challenge\PyBank\Resources', 'budget_data.csv')
df = pd.read_csv(csv_path)

In [1]:
import pandas as pd
import csv
import os

csv_path = os.path.join (r'C:\Users\soone\python-challenge\PyBank\Resources', 'budget_data.csv')
df = pd.read_csv(csv_path)

In [2]:
total_months = len(df) - 1 + 1

print(f"Total Months: {total_months}")

Total Months: 86

In [3]:
net_total = df['Profit/Losses'].sum()

print(f"Total: ${net_total}")

Total: $22564198

In [4]:
# Create a new column to calculate the monthly changes in "Profit/Losses"
df['Changes'] = df['Profit/Losses'].diff()

print(df.to_string(index=False))

  Date  Profit/Losses    Changes
Jan-10        1088983        NaN
Feb-10        -354534 -1443517.0
Mar-10         276622   631156.0
Apr-10        -728133 -1004755.0
May-10         852993  1581126.0
Jun-10         563721  -289272.0
Jul-10        -535208 -1098929.0
Aug-10         632349  1167557.0
Sep-10        -173744  -806093.0
Oct-10         950741  1124485.0
Nov-10        -785750 -1736491.0
Dec-10       -1194133  -408383.0
Jan-11        -589576   604557.0
Feb-11        -883921  -294345.0
Mar-11         443564  1327485.0
Apr-11         837887   394323.0
May-11        1081472   243585.0
Jun-11         464033  -617439.0
Jul-11       -1066544 -1530577.0
Aug-11         323846  1390390.0
Sep-11        -806551 -1130397.0
Oct-11         487053  1293604.0
Nov-11        1128811   641758.0
Dec-11         791398  -337413.0
Jan-12         739367   -52031.0
Feb-12        -197825  -937192.0
Mar-12         666016   863841.0
Apr-12         589771   -76245.0
May-12         489290  -100481.0
Jun-12        -471439  -960729.0
Jul-12         120417   591856.0
Aug-12         175347    54930.0
Sep-12         855449   680102.0
Oct-12         605195  -250254.0
Nov-12        -235220  -840415.0
Dec-12         347138   582358.0
Jan-13         298510   -48628.0
Feb-13         163254  -135256.0
Mar-13        1141840   978586.0
Apr-13         542630  -599210.0
May-13          99841  -442789.0
Jun-13         752765   652924.0
Jul-13        -252949 -1005714.0
Aug-13         914424  1167373.0
Sep-13         679524  -234900.0
Oct-13         514377  -165147.0
Nov-13         462102   -52275.0
Dec-13         159782  -302320.0
Jan-14         878810   719028.0
Feb-14        -946748 -1825558.0
Mar-14         340335  1287083.0
Apr-14         292032   -48303.0
May-14         502266   210234.0
Jun-14         265852  -236414.0
Jul-14         851017   585165.0
Aug-14        -549615 -1400632.0
Sep-14         290162   839777.0
Oct-14         755391   465229.0
Nov-14        1073202   317811.0
Dec-14         313000  -760202.0
Jan-15         241132   -71868.0
Feb-15        1036589   795457.0
Mar-15         853904  -182685.0
Apr-15        -388932 -1242836.0
May-15         982952  1371884.0
Jun-15         537759  -445193.0
Jul-15         547784    10025.0
Aug-15        -496214 -1043998.0
Sep-15         854181  1350395.0
Oct-15         934719    80538.0
Nov-15        -288531 -1223250.0
Dec-15        -184383   104148.0
Jan-16         659541   843924.0
Feb-16       -1149123 -1808664.0
Mar-16         355882  1505005.0
Apr-16         662284   306402.0
May-16         518681  -143603.0
Jun-16        -748256 -1266937.0
Jul-16        -910775  -162519.0
Aug-16         951227  1862002.0
Sep-16         898241   -52986.0
Oct-16        -729004 -1627245.0
Nov-16        -112209   616795.0
Dec-16         516313   628522.0
Jan-17         607208    90895.0
Feb-17         382539  -224669.0

In [122]:
total_changes = df['Changes'].sum()
total_changes

-706444.0

In [112]:
average_change = total_changes / total_months

rounded_average_change = round(average_change, 2)
print(f"Average Change: ${rounded_average_change}")

Average Change: $nan

In [106]:
greatest_increase_row = df.loc[df['Changes'].idxmax()]
greatest_decrease_row = df.loc[df['Changes'].idxmax()]
print(greatest_increase_row)
print(greatest_decrease_row)

Date                Aug-16
Profit/Losses       951227
Changes          1862002.0
Name: 79, dtype: object
Date                Aug-16
Profit/Losses       951227
Changes          1862002.0
Name: 79, dtype: object

In [107]:
print(f"Financial Analysis")
print(f"-------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_total}")
print(f"Total Changes: {total_changes}")
print(f"Average Change: ${rounded_average_change}")
print(f"Greatest Increase in Profits: {greatest_increase_row['Date']} ${greatest_increase_row['Changes']}")
print(f"Greatest Decrease in Profits: {greatest_decrease_row['Date']} ${greatest_decrease_row['Changes']}")

Financial Analysis
-------------------------
Total Months: 86
Total: $22564198
Total Changes: nan
Average Change: $nan
Greatest Increase in Profits: Aug-16 $1862002.0
Greatest Decrease in Profits: Aug-16 $1862002.0