In [208]:
#PyBank Financial Analysis

import pandas as pd
import csv
import os

csv_path = os.path.join (r'C:\Users\soone\python-challenge\PyBank\Resources', 'budget_data.csv')
df = pd.read_csv(csv_path)

In [209]:
# The total of months included in the dataset

total_months = len(df) - 1 + 1

print(f"Total Months: {total_months}")

Total Months: 86

In [210]:
# The net total amount of "Profit/Losses" over the entire period

net_total = df['Profit/Losses'].sum()

print(f"Total: ${net_total}")

Total: $22564198

In [211]:
#The changes in "Profit/Losses" over the entire period, and then (next cell) the average of those changes
# # Created a new column to calculate the monthly changes in "Profit/Losses"
# This method computes the difference between consecutive rows, shown here as 'Change'

df['Change'] = df['Profit/Losses'].diff()

df

      Date  Profit/Losses     Change
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [212]:
#The changes in "Profit/Losses" over the entire period (previous cell)...
#now the average over the entire period

average_change = df['Change'].mean()

#print(average_change)
#now round
rounded_average_change = round(average_change, 2)
print(f"Average Change: ${rounded_average_change}")

Average Change: $-8311.11

In [213]:
# The greatest increase in profits (date and amount) over the entire period
# The greatest decrease in profits (date and amount) over the entire period
greatest_increase = df.loc[df['Change'].idxmax()]
greatest_decrease = df.loc[df['Change'].idxmin()]

rounded_integer_increase = round(greatest_increase)
rounded_integer_decrease = round(greatest_decrease)
print(f"Greatest Increase in Profits: ${(rounded_integer_increase)}")
print(f"Greatest Decrease in Profits: ${(rounded_integer_decrease)}")

Greatest Increase in Profits: $Date                Aug-16
Profit/Losses       951227
Change           1862002.0
Name: 79, dtype: object
Greatest Decrease in Profits: $Date                Feb-14
Profit/Losses      -946748
Change          -1825558.0
Name: 49, dtype: object

In [214]:
print(f"Financial Analysis")
print(f"-------------------------")
print(f"Total Months: {total_months}")
net_total = df['Profit/Losses'].sum()
print(f"Total: ${net_total}")
print(f"Average Change: ${rounded_average_change}")
#print(f"Greatest Increase in Profits: ${(integer_increase)}")
#print(f"Greatest Decrease in Profits: ${(integer_decrease)}")
print(f"Greatest Increase in Profits: {rounded_integer_increase['Date']} ${rounded_integer_increase['Change']}")
print(f"Greatest Decrease in Profits: {rounded_integer_decrease['Date']} ${rounded_integer_decrease['Change']}")

Financial Analysis
-------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 $1862002.0
Greatest Decrease in Profits: Feb-14 $-1825558.0