In [8]:
#PyBank Financial Analysis

import pandas as pd
import csv
import os
import numpy as np

csv_path = os.path.join (r'C:\Users\soone\python-challenge\PyBank\Resources', 'budget_data.csv')
df = pd.read_csv(csv_path)

In [9]:
total_months = len(df) - 1 + 1

print(f"Total Months: {total_months}")

Total Months: 86

In [10]:
net_total = df['Profit/Losses'].sum()

print(f"Total: ${net_total}")

Total: $22564198

In [11]:
df['Changes'] = df['Profit/Losses'].diff()
print(df)

      Date  Profit/Losses    Changes
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [12]:
#initialize variables
total_changes = df['Changes'].sum()
greatest_increase = df['Changes'].max()
greatest_decrease = df['Changes'].min()
print(total_changes)

-706444.0

In [13]:
print(f"Total Changes: {total_changes}")
print(f"Greatest Increase in Profits: {greatest_increase}")
print(f"Greatest Decrease in Profits: {greatest_decrease}")

Total Changes: -706444.0
Greatest Increase in Profits: 1862002.0
Greatest Decrease in Profits: -1825558.0

In [14]:
missing_values = df['Profit/Losses'].isnull().sum()
print (missing_values)

0

In [15]:
total_changes = df['Changes'].sum()
print(df)

      Date  Profit/Losses    Changes
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [16]:
greatest_increase_row = df.loc[df['Changes'].idxmax()]
greatest_decrease_row = df.loc[df['Changes'].idxmin()]
print(greatest_increase_row)
print(greatest_decrease_row)

Date                Aug-16
Profit/Losses       951227
Changes          1862002.0
Name: 79, dtype: object
Date                Feb-14
Profit/Losses      -946748
Changes         -1825558.0
Name: 49, dtype: object

In [20]:
print(f"Financial Analysis")
print(f"-------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_total}")
print(f"Total Changes: {total_changes}")
print(f"Average Change: ${rounded_average_change}")
print(f"Greatest Increase in Profits: {greatest_increase_row['Date']} ${greatest_increase_row['Changes']}")
print(f"Greatest Decrease in Profits: {greatest_decrease_row['Date']} ${greatest_decrease_row['Changes']}")

Financial Analysis
-------------------------
Total Months: 86
Total: $22564198
Total Changes: -706444.0

NameError: name 'rounded_average_change' is not defined